In [71]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\hp\appdata\roaming\python\python311\site-packages (4.11.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from pymongo) (2.7.0)

In [72]:
import pymongo
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
conn = pymongo.MongoClient("mongodb+srv://Anand:anand123@cluster0.hurmwid.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = conn['sample_airbnb']
col = db['listingsAndReviews']

# Primary Data Frame

In [5]:
data = []
for i in col.find( {}, {'_id':1,'listing_url':1,'name':1,'property_type':1,'room_type':1,'bed_type':1,
                        'minimum_nights':1,'maximum_nights':1,'cancellation_policy':1,'accommodates':1,
                        'bedrooms':1,'beds':1,'number_of_reviews':1,'bathrooms':1,'price':1,
                        'cleaning_fee':1,'extra_people':1,'guests_included':1,'images.picture_url':1,
                        'review_scores.review_scores_rating':1} ):
    data.append(i)

df = pd.DataFrame(data)
df['images'] = df['images'].apply(lambda x: x['picture_url'])
df['review_scores'] = df['review_scores'].apply(lambda x: x.get('review_scores_rating',0))
df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.0,0.0,1.0,https://a0.muscache.com/im/pictures/4533a1dc-6...,100,NaN
1,10112159,https://www.airbnb.com/rooms/10112159,Downtown Oporto Inn (room cleaning),Hostel,Private room,Real Bed,1,1125,moderate,2,1.0,1.0,0,1.0,40.0,25.0,2.0,https://a0.muscache.com/im/pictures/442ad717-e...,0,50.0
2,10096773,https://www.airbnb.com/rooms/10096773,Easy 1 Bedroom in Chelsea,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2,1.0,1.0,1,1.0,145.0,0.0,1.0,https://a0.muscache.com/im/pictures/ceb6e8b2-d...,100,60.0
3,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121.0,0.0,1.0,https://a0.muscache.com/im/pictures/68de30b5-e...,92,NaN
4,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,1.0,1.0,1,1.5,40.0,0.0,1.0,https://a0.muscache.com/im/pictures/72844c8c-f...,100,NaN

In [7]:
df.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
extra_people              0
guests_included           0
images                    0
review_scores             0
cleaning_fee           1531
dtype: int64

In [8]:
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['bathrooms'].fillna(0, inplace=True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
extra_people           0
guests_included        0
images                 0
review_scores          0
cleaning_fee           0
dtype: int64

In [9]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms              float64
price                  float64
extra_people           float64
guests_included        float64
images                  object
review_scores            int64
cleaning_fee            object
dtype: object

In [41]:
df['minimum_nights'] = df['minimum_nights'].astype(int)
df['maximum_nights'] = df['maximum_nights'].astype(int)
df['bedrooms'] = df['bedrooms'].astype(int)
df['beds'] = df['beds'].astype(int)
df['bathrooms'] = df['bathrooms'].astype(str).astype(float)
df['price'] = df['price'].astype(str).astype(float).astype(int)
df['cleaning_fee'] = df['cleaning_fee'].apply(lambda x: int(float(str(x))) if x != 'Not Specified' else 'Not Specified')
df['extra_people'] = df['extra_people'].astype(str).astype(float).astype(int)
df['guests_included'] = df['guests_included'].astype(str).astype(float).astype(int)

In [42]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int32
maximum_nights           int32
cancellation_policy     object
accommodates             int64
bedrooms                 int32
beds                     int32
number_of_reviews        int64
bathrooms              float64
price                    int32
extra_people             int32
guests_included          int32
images                  object
review_scores            int64
cleaning_fee            object
dtype: object

In [43]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
minimum_nights,5555.0,5.564356e+00,2.261386e+01,1.0,1.0,2.0,3.0,1.250000e+03
maximum_nights,5555.0,1.382776e+06,5.256920e+07,1.0,59.0,1125.0,1125.0,2.147484e+09
accommodates,5555.0,3.505851e+00,2.297019e+00,1.0,2.0,3.0,4.0,1.600000e+01
bedrooms,5555.0,1.410441e+00,1.042334e+00,0.0,1.0,1.0,2.0,2.000000e+01
beds,5555.0,2.066607e+00,1.620858e+00,0.0,1.0,2.0,3.0,2.500000e+01
number_of_reviews,5555.0,2.760648e+01,4.979838e+01,0.0,1.0,5.0,32.0,5.330000e+02
bathrooms,5555.0,1.288839e+00,7.037643e-01,0.0,1.0,1.0,1.0,1.600000e+01
price,5555.0,2.787662e+02,8.422155e+02,9.0,70.0,129.0,280.0,4.884200e+04
extra_people,5555.0,2.279190e+01,6.933151e+01,0.0,0.0,0.0,20.0,2.346000e+03
guests_included,5555.0,1.747435e+00,1.487352e+00,1.0,1.0,1.0,2.0,1.600000e+01
review_scores,5555.0,6.839568e+01,4.182983e+01,0.0,0.0,92.0,98.0,1.000000e+02

In [44]:
df.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1,2,3,1.0,699,0,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100,Not Specified
1,10112159,https://www.airbnb.com/rooms/10112159,Downtown Oporto Inn (room cleaning),Hostel,Private room,Real Bed,1,1125,moderate,2,1,1,0,1.0,40,25,2,https://a0.muscache.com/im/pictures/442ad717-e...,0,50

# Host Data Frame

In [49]:
host = []
for i in col.find( {}, {'_id':1, 'host':1}):
    host.append(i)

df_host = pd.DataFrame(host)
host_keys = list(df_host.iloc[0,1].keys())
host_keys.remove('host_about')

for i in host_keys:
    if i == 'host_response_time':
        df_host['host_response_time'] = df_host['host'].apply(lambda x: x['host_response_time'] if 'host_response_time' in x else 'Not Specified')
    else:
        df_host[i] = df_host['host'].apply(lambda x: x[i] if i in x and x[i]!='' else 'Not Specified')

df_host.drop(columns=['host'], inplace=True)
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
1,10112159,2649859,https://www.airbnb.com/users/show/2649859,Elisabete,"Porto, Porto, Portugal",https://a0.muscache.com/im/pictures/3e7725d5-7...,https://a0.muscache.com/im/pictures/3e7725d5-7...,Not Specified,False,True,True,2,2,"[email, phone, reviews, jumio, government_id]"
2,10096773,34607505,https://www.airbnb.com/users/show/34607505,Scott,"New York, New York, United States",https://a0.muscache.com/im/pictures/675cec89-7...,https://a0.muscache.com/im/pictures/675cec89-7...,Chelsea,False,True,True,1,1,"[email, phone, facebook, reviews, kba]"
3,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
4,10021707,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,False,True,True,1,1,"[email, phone, reviews, kba]"

In [50]:
df_host['host_is_superhost'] = df_host['host_is_superhost'].map({False:'No',True:'Yes'})
df_host['host_has_profile_pic'] = df_host['host_has_profile_pic'].map({False:'No',True:'Yes'})
df_host['host_identity_verified'] = df_host['host_identity_verified'].map({False:'No',True:'Yes'})
df_host.head()

,_id,host_id,host_url,host_name,host_location,host_thumbnail_url,host_picture_url,host_neighbourhood,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
1,10112159,2649859,https://www.airbnb.com/users/show/2649859,Elisabete,"Porto, Porto, Portugal",https://a0.muscache.com/im/pictures/3e7725d5-7...,https://a0.muscache.com/im/pictures/3e7725d5-7...,Not Specified,No,Yes,Yes,2,2,"[email, phone, reviews, jumio, government_id]"
2,10096773,34607505,https://www.airbnb.com/users/show/34607505,Scott,"New York, New York, United States",https://a0.muscache.com/im/pictures/675cec89-7...,https://a0.muscache.com/im/pictures/675cec89-7...,Chelsea,No,Yes,Yes,1,1,"[email, phone, facebook, reviews, kba]"
3,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,No,Yes,Yes,2,2,"[email, phone, facebook, reviews, jumio, offli..."
4,10021707,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,No,Yes,Yes,1,1,"[email, phone, reviews, kba]"

In [51]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [52]:
df_host.dtypes

_id                          object
host_id                      object
host_url                     object
host_name                    object
host_location                object
host_thumbnail_url           object
host_picture_url             object
host_neighbourhood           object
host_is_superhost            object
host_has_profile_pic         object
host_identity_verified       object
host_listings_count           int64
host_total_listings_count     int64
host_verifications           object
dtype: object

# Address Data Frame

In [53]:
address = []
for i in col.find( {}, {'_id':1, 'address':1}):
    address.append(i)

df_address = pd.DataFrame(address)
address_keys = list(df_address.iloc[0,1].keys())

for i in address_keys:
    if i == 'location':
        df_address['location_type'] = df_address['address'].apply(lambda x: x['location']['type'])
        df_address['longitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][0])
        df_address['latitude'] = df_address['address'].apply(lambda x: x['location']['coordinates'][1])
        df_address['is_location_exact'] = df_address['address'].apply(lambda x: x['location']['is_location_exact'])
    else:
        df_address[i] = df_address['address'].apply(lambda x: x[i] if x[i]!='' else 'Not Specified')

df_address.drop(columns=['address'], inplace=True)
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True
1,10112159,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60867,41.15430,False
2,10096773,"New York, NY, United States",Manhattan,Chelsea,New York,United States,US,Point,-74.00074,40.74577,True
3,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,False
4,10021707,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.93615,40.69791,True

In [54]:
df_address['is_location_exact'] = df_address['is_location_exact'].map({False:'No',True:'Yes'})
df_address.head()

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,Yes
1,10112159,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.60867,41.15430,No
2,10096773,"New York, NY, United States",Manhattan,Chelsea,New York,United States,US,Point,-74.00074,40.74577,Yes
3,10133554,"Fatih , İstanbul, Turkey",Fatih,Fatih,Istanbul,Turkey,TR,Point,28.98009,41.00620,No
4,10021707,"Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.93615,40.69791,Yes

In [55]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [56]:
df_address.dtypes

_id                   object
street                object
suburb                object
government_area       object
market                object
country               object
country_code          object
location_type         object
longitude            float64
latitude             float64
is_location_exact     object
dtype: object

# Availablity Data Frame

In [57]:
availability = []
for i in col.find( {}, {'_id':1, 'availability':1}):
    availability.append(i)

df_availability = pd.DataFrame(availability)
availability_keys = list(df_availability.iloc[0,1].keys())

for i in availability_keys:
    df_availability['availability_30'] = df_availability['availability'].apply(lambda x: x['availability_30'])
    df_availability['availability_60'] = df_availability['availability'].apply(lambda x: x['availability_60'])
    df_availability['availability_90'] = df_availability['availability'].apply(lambda x: x['availability_90'])
    df_availability['availability_365'] = df_availability['availability'].apply(lambda x: x['availability_365'])

df_availability.drop(columns=['availability'], inplace=True)
df_availability.head()

,_id,availability_30,availability_60,availability_90,availability_365
0,10059872,0,0,0,0
1,10112159,30,60,87,359
2,10096773,0,0,0,0
3,10133554,30,60,90,365
4,10021707,0,0,0,0

In [58]:
df_availability.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [59]:
df_availability.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

# Amenities Data Frame

In [61]:
def amenities_sort(x):
    a = x
    a.sort(reverse=False)
    return a

amenities = []
for i in col.find( {}, {'_id':1, 'amenities':1}):
    amenities.append(i)

df_amenities = pd.DataFrame(amenities)
df_amenities['amenities'] = df_amenities['amenities'].apply(lambda x: amenities_sort(x))
df_amenities.head()

        _id                                          amenities
0  10059872  [24-hour check-in, Air conditioning, Doorman, ...
1  10112159  [Cable TV, Essentials, Family/kid friendly, Fi...
2  10096773  [Carbon monoxide detector, Essentials, Fire ex...
3  10133554  [Air conditioning, Building staff, Dryer, Esse...
4  10021707  [Air conditioning, Buzzer/wireless intercom, C...

In [62]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [63]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

# Final Data Frame

In [64]:
# Merging all the data frames

df = pd.merge(df, df_host, on='_id')
df = pd.merge(df, df_address, on='_id')
df = pd.merge(df, df_availability, on='_id')
df = pd.merge(df, df_amenities, on='_id')
df.head(3)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.15027,22.28158,Yes,0,0,0,0,"[24-hour check-in, Air conditioning, Doorman, ..."
1,10112159,https://www.airbnb.com/rooms/10112159,Downtown Oporto Inn (room cleaning),Hostel,Private room,Real Bed,1,1125,moderate,2,...,PT,Point,-8.60867,41.15430,No,30,60,87,359,"[Cable TV, Essentials, Family/kid friendly, Fi..."
2,10096773,https://www.airbnb.com/rooms/10096773,Easy 1 Bedroom in Chelsea,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2,...,US,Point,-74.00074,40.74577,Yes,0,0,0,0,"[Carbon monoxide detector, Essentials, Fire ex..."

In [65]:
# Download as csv
#df.to_csv('airbnb.csv', index=False)

In [66]:
df.dtypes

_id                           object
listing_url                   object
name                          object
property_type                 object
room_type                     object
bed_type                      object
minimum_nights                 int32
maximum_nights                 int32
cancellation_policy           object
accommodates                   int64
bedrooms                       int32
beds                           int32
number_of_reviews              int64
bathrooms                    float64
price                          int32
extra_people                   int32
guests_included                int32
images                        object
review_scores                  int64
cleaning_fee                  object
host_id                       object
host_url                      object
host_name                     object
host_location                 object
host_thumbnail_url            object
host_picture_url              object
host_neighbourhood            object
host_is_superhost             object
host_has_profile_pic          object
host_identity_verified        object
host_listings_count            int64
host_total_listings_count      int64
host_verifications            object
street                        object
suburb                        object
government_area               object
market                        object
country                       object
country_code                  object
location_type                 object
longitude                    float64
latitude                     float64
is_location_exact             object
availability_30                int64
availability_60                int64
availability_90                int64
availability_365               int64
amenities                     object
dtype: object